.descWrapper {
    border-bottom: 1px solid grey;
    width: 70vw;
    height: 3vh;
    text-align: left;
    padding: 1vh 0vw;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    cursor: no-drop;
}