.input {
	border-bottom: 1px solid grey;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 20vw;
	text-align: left;
	padding: 1vh 0.5vw;
	text-decoration: none;
	color: black;
	font-size: 1.2vw;
}


