.question {
	border-bottom: 1px solid grey;
	width: 10vw;
	text-align: left;
	padding: 1vh 0vw;
	text-decoration: none;
	color: rgb(52, 143, 235);
	font-weight: 700;
	font-size: 1.2vw;
	cursor: no-drop;
}

.answer {
	border-bottom: 1px solid grey;
	width: 40vw;
	text-align: left;
	padding: 1vh 0vw;
	text-decoration: none;
	color: black;
	font-size: 1.2vw;
	cursor: no-drop;
}

