body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  width: 40vw;
  height: 20vh;
  margin:2vh auto;
  transition: height 0.5s;
  cursor: pointer;
  background: grey;

}

.root span {
  width: 15vw;
  height:4vh;
  border: 1px solid black;
  float: left;
}

#desc {
  width: 36vw;
  height: 15vh;
}

input:focus {
text-decoration: none;
outline: none;
background: rgba(193, 214, 245, 0.952);
color: black;
font: 1.5vw;
}

input:placeholder {
  font: 1.2vw;
  color: grey;
}

.srv-validation-message {
  color: red;
}

select {
  width: 15vw;
  padding: 0.2vh 0vw;
}


