.wrapper {
	width: 85vw;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	margin: 2vh 0vw;
}
.expand {
	width: 80vw;
	height: 28vh;
	border-radius: 5px;
	border: 3px solid rgb(52, 143, 235);
	display: flex;
	flex-direction: column;
	transition: height 0.2s ease-in-out;
}

.collapse {
	width: 80vw;
	height: 7vh;
	border-radius: 5px;
	border: 3px solid rgb(52, 143, 235);
	display: flex;
	flex-direction: column;
	transition: height 0.2s ease-in-out;
}
.titleRow,
.descRow,
.btnRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 1vh 0vw;
}
.descRow {
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 0vh 4.5vw;
	height: 14vh;
	margin: 2vh 0vw;

}
.btnRow {
	justify-content: start;
	margin-left: 5vw;
}

.btnRow > button {
	margin-right: 2vw;
}

.invisible {
	display: none;
}

.toggle {
	padding: 0.5vh 0.5vw;
	cursor: pointer;
}
